language: cpp
dist: trusty
sudo: false
compiler:
    - clang
    - gcc
os:
    - linux

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
    - clang-3.8
    - lcov

script:
    #- $CXX --version
    #- make
    #- make test
    #- if [ "$CXX" == "g++-5" ]; then whereis gcov-5; fi
    #- if [ "$CXX" == "g++-5" ]; then make coverage VERBOSE=1; bash <(curl -s https://codecov.io/bash) -X gcov; fi
    - mkdir build && cd build
    - conan install .. --build missing
    - cmake .. && make VERBOSE=1 && ctest
    - if [ "$CXX" == "g++-5" ]; then lcov --directory . --capture --output-file coverage.info --gcov-tool gcov-5; fi
    - if [ "$CXX" == "g++-5" ]; then lcov --remove coverage.info '/*.conan/*' '/usr/*' --output-file coverage.info.cleaned; fi
    - if [ "$CXX" == "g++-5" ]; then rm coverage.info; fi
    - if [ "$CXX" == "g++-5" ]; then bash <(curl -s https://codecov.io/bash) -X gcov ; fi

install:
    - if [ "$CXX" == "g++" ]; then export CXX="g++-5"; export CC="gcc-5"; export CFLAGS="-g -O0 -fprofile-arcs -ftest-coverage"; export CXXFLAGS="-g -O0 -fprofile-arcs -ftest-coverage"; fi
    - if [ "$CXX" == "clang++" ]; then export CXX="clang++"; fi
    - sudo apt-get update -qq
    - pip install --user conan
    - conan remote add conan-community https://api.bintray.com/conan/conan-community/conan
    - conan user

