dist: trusty
language: cpp
sudo: false
compiler:
    - clang
    - gcc
os:
    - linux

before_script:
    - mkdir build
    - cd build
    - cmake ..

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.9
    - clang-3.8
    - libboost-all-dev


script:
    - make
    - make test

install:
    - if [ "$CXX" = "g++" ]; then export CXX="g++" CC="gcc"; fi
    - if [ "$CXX" = "clang++" ]; then export CXX="clang++" CC="clang"; fi


