# Operating system (build VM template)
os: Visual Studio 2017

platform:
#    x64
    - Win32
#configuration: Release

# enable rdp
#init:
#  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

#environment:
#    BOOST_ROOT: "C:\\Libraries\\boost_1_64_0"
#    BOOST_LIBRARYDIR: "C:\\Libraries\\boost_1_64_0\\lib32-msvc-15.0"


before_build:
    - cmake --version
    #- echo %BOOST_ROOT%
    #- dir "C:\Libraries"
    #- dir "%BOOST_ROOT%"
    - cmd: set PATH=%PATH%;%PYTHON%/Scripts/
    - cmd: pip.exe install conan
    - cmd: conan --version
    - ps: wget 'https://github.com/MSOpenTech/redis/releases/download/win-3.0.504/Redis-x64-3.0.504.zip' -OutFile "Redis-x64-3.0.504.zip"
    - '@ECHO redis downloaded deployed'
    - dir
    - 7z x Redis-x64-3.0.504.zip
    - dir
    # redis
    - set PATH=%APPVEYOR_BUILD_FOLDER%;%PATH%
    # boost
    # - set PATH=%BOOST_ROOT%\lib64-msvc-14.1;%PATH%
    - echo %PATH%

build_script:
    - cmd: mkdir build
    - cmd: cd build
    - cmd: conan install .. --build missing -o boost:without_filesystem=False
    - cmd: cmake ../  -G "Visual Studio 15 2017 Win64"
    - cmd: cmake --build . --config Release

test_script:
  - ps: cd builds
  - ctest -VV -C "%CONFIG%"

